<div class="container" style="padding:20px; margin:auto; width: 60%">
	<h6 class="label-custom label label-danger" style="position: relative; left: 100px">{{ error_description }}</h6><br/><br/>
	
	<h6 class="label label-info" style="position:relative; left: 280px; font-size: small; font-family: sans-serif;">
		<a href="http://localhost:8082/#/albums">Take me back to Homepage</a>
	</h6><br/>
	
	<div class="error-404" style="padding-top: 20px">
		<img src="img/404_image.jpg" alt="404 page image" />
	</div>
</div>
