<div class="container" style="padding:50px" data-ng-hide="pageLoadCompleted">
	<p><strong>Loading page data ... </strong></p>
</div>

<div class="container" style="padding:50px" data-ng-show="pageLoadCompleted">
		
		<div class="alert alert-danger" data-ng-show="page_load_error">{{ page_load_error }}</div>
		
		<!-- Header with dynamic search functionality -->
		<div class="page-header" style="margin-top:0px;margin-left:5px;margin-right:5px">
			<div class="alert-custom alert alert-info"> 
				<span>My Journey Albums</span>
				<span><input type="text" placeholder="Type to search..." data-ng-model="searchAlbum" style="float:right;width:25%;height: 25px"/></span>
			</div>
		</div>
		
		<!-- Tiled representation of all albums -->
		<photo-album></photo-album>
		
		<div style="clear:left"></div>
		
		<!-- Form to add a new album  -->
		<new-album-form></new-album-form>
	</div>