<p class="input-group">
	<input type="text" class="form-control"
		data-datepicker-popup="longDate" data-ng-model="dt"
		data-is-open="opened" data-min-date="dateOptions.minDate"
		data-max-date="'2015-12-31'" data-init-date="dateOptions.initDate"
		data-datepicker-options="dateOptions"
		data-date-disabled="disabled(date, mode)" data-ng-required="true"
		data-close-text="Close" /> <span class="input-group-btn">
		<button class="btn btn-default" data-ng-click="open($event)">
			<i class="glyphicon glyphicon-calendar"></i>
		</button>
	</span>
</p>