<nav class="navbar navbar-default navbar-custom">
  <div class="container-fluid>
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/albums">
        <img alt="Angular Album" src="img/icons/brand_icon_2.jpg" width="50px" height="50px">
	  </a>
    </div>
    
     <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#/albums">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="#/404" class="navbar-menu-link">404</a></li>
      </ul>
	
	<div style="float:right" data-ng-include="'partials/user_partial.html'"/>
	
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>