<!-- Header for the New Album form -->
<div style="margin-left: 20px; margin-right: 20px; margin-bottom: 20px">
	<h2>
		<span class="label label-default">Add a New Album</span>
	</h2>
</div>

<form name="add_album_form" action="">
	<div class="album panel panel-info">
		<div class="panel-heading">
			<div class="panel-title">
				<div class="alert alert-danger" role="alert"
					data-ng-show="validation_error_message">{{
					validation_error_message }}</div>
				<input name="input_title" type="text" placeholder="Title .. "
					data-ng-model="newAlbum.title" data-ng-required="true" /> <input
					name="input_date" type="text" placeholder="YYYY-MM-DD"
					style="float: right" data-ng-model="newAlbum.date" />
			</div>
		</div>
		<div class="panel-body">
			<textarea name="input_desc" rows="4" placeholder="Description.."
				data-ng-model="newAlbum.description"></textarea>
			<br /> <input name="input_sname" type="text"
				placeholder="Album name.." style="width: 100%"
				data-ng-model="newAlbum.name" data-ng-required="true" /><br />
			<button type="button" class="btn btn-success"
				data-ng-click="addAlbum(newAlbum)">Add New Album</button>
		</div>
	</div>
</form>